html {
  font-family: monospace, monospace;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.CodeMirror {
  font-size: 10pt;
}

#footer {
  margin-bottom: 0;
  width: 100%;
  /* position: absolute; */
  height: 60px;
  background-color: #f5f5f5;
}
.footer-block {
  margin: 25px 0;
}

@media screen and (max-width: 414px) {
  .col-md-4 {
    margin-left: 25%;
  }
}
